@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap');

*{
  font-family: 'Lato', sans-serif;
/* background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%); */
}

body {
  margin: 0;
/* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
background-size:cover;
background-attachment:fixed;
}
.bye{
  font-family: 'Titillium Web', sans-serif;
  font-size: 50pt;
  color: black;

}

#header{
/* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
/* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
/* box-shadow: 0 0 5px 10px #555; */
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
color : linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
text-align: center;
/* font-size: 10pt; */
position: relative;
font-weight: 400;

}
#sign{
  position: absolute;
  right: 50px;
  top: 5px;
  text-align: right;
}

#from{
  position: absolute;
  left: 15%;
  width: 100pt;
  top: 200pt;
}
#to{
  position: absolute;
  left: 30%;
  width: 100pt;
  top: 200pt;

}
#Customer{
  position: absolute;
  left: 15%;
  top: 140pt;
  width: 100pt;
}
#flight_num{
  position: absolute;
  left: 30%;
  top: 140pt;
  width: 150pt;
}
#Purchase{
  left: 60%;
}
#date{
  position: absolute;
  width: 150pt;
  left: 45%;
  top: 200pt;

}
#search{
  position: absolute;
  left: 60%;
  top: 210pt;
}
#ugly{
  display: none;
}
.table{
  position: absolute;
  top: 400pt;
}

.container * {
  display: block;
  position: absolute;
  top: 10%;
  left: 15%;
  margin: 20px 0;

}
.container .line-text {
  position: relative;
  display: inline-block;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 5.5px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 12px 15px #39dbc2, 13px 16px #f41fbf, 14px 17px #f41fbf, 15px 18px #f41fbf, 16px 19px #f41fbf, 17px 20px #f41fbf, 18px 21px #f41fbf, 19px 22px #f41fbf, 20px 23px #f41fbf, 21px 24px #f41fbf, 22px 25px #f41fbf, 23px 26px #f41fbf, 24px 27px #f41fbf, 25px 28px #f41fbf;
}
.container .stripe-text {
  position: relative;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Catamaran", sans-serif;
  font-style: italic;
}
.container .stripe-text:after {
  position: absolute;
  left: 0;
  content: "Find Flight Deals";
  background: -webkit-repeating-linear-gradient(135deg, #f41fbf, #f41fbf 20px, #ffed28 20px, #ffed28 40px, #b028ff 40px, #b028ff 60px, #39dbc2 60px, #39dbc2 80px);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 5.5px;
  -webkit-text-stroke-color: white;
}
.container .stripe-text:before {
  z-index: -1;
  position: absolute;
  content: "Find Flight Deals";
  color: #f41fbf;
  top: 0px;
  left: 0px;
  text-shadow: 5px 0px #f41fbf, 6px 1px #f41fbf, 7px 2px #f41fbf, 8px 3px #f41fbf, 9px 4px #f41fbf, 10px 5px #f41fbf, 11px 6px #f41fbf, 12px 7px #f41fbf, 13px 8px #f41fbf, 14px 9px #f41fbf, 15px 10px #f41fbf;
}

.error{
  display: block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  left: 0
}

.containertable {
  text-align: center;
	position: absolute;
  	left: 46%;
  	top: 450pt;
  	bottom: 0;
    margin: auto;

	transform: translate(-50%, -50%);
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}


/* table */
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  /* -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    text-align: center;
    filter: invert(1) grayscale(1) contrast(2); */
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
  color: rgb(0, 0, 0);
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
#history{
  display: block;
  /* float: left; */
  position: absolute;
  top: 185pt;
  left:-100pt;
  transform: scale(0.65);
}
#all{
  display: block;
  position: absolute;
  top: 250pt;
  left: 46%;
  transform: scale(0.9);

}
/* .tables{
  display: block;
  top: 1000pt;
  float: left;
} */
/* button */
button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue';
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  /* background: rgb(0,0,0); */
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  transform: scale(0.5);
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Search';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
