<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{line}}</title>
</head>
<body>
    </div>
    <div class="Search flight" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Search flight</h5>
        <h6 class="card-subtitle mb-2 text-muted">Start your exciting journey</h6>
        <p class="card-text">We are a world leading flight booking platform having connections with most of the airlines. Our mission is to provide our customer a one-stop solution platform for your flight journey.  </p>
        <a href="{{ url_for("public_view")}}" class="card-link">Search now</a>
<!--        <a href="#" class="card-link">Another link</a>-->
    </div>

    <div class="Sign in" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sign in</h5>
            <h6 class="card-subtitle mb-2 text-muted">Thanks for your always support to WA Flight</h6>
            <p class="card-text">View or change your upcoming schedule, book a flight or view historical recods. </p>
            <a href="/sign_in" class="card-link">Sign in now</a>
            <a>Don't have an account? </a>
            <a href="/sign_up" class="card-link">Register one.</a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>