<!DOCTYPE html>
<html>

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div id='header'>
	<a>WAFlight Booking</a>
</div>
<div id='nav'>
	<a href="{{ url_for("sign_up") }}">Sign up</a>
	<a href="{{ url_for("sign_in") }}">Sign in</a>
</div>

</head>

<body>

	<div id='search'>
		<br>Find flight deals<br>
		<form action="/public_view" method="post">
			<br><br><br><br><br>
				<input type="text" name="from" list="list1" placeholder="Departure" autocomplete="off">
				   <datalist id="list1">
					{% for i in departure_city %}
					 <option>{{ i }}</option>
					{% endfor %}
				   </datalist>
				   <br>
				<!--   To City:<br>-->
				   <input type="text" name="to" list='list2' placeholder="Arrival" autocomplete="off">
				   <datalist id="list2">
					{% for i in arrival_city %}
					 <option>{{ i }}</option>
					{% endfor %}
				   </datalist>
			<br>
			Departure Time:<br>
			<input class="Date_input" type="date" name = "date" id="all_date">
			<br>
			<input type="submit" value='Search' formmethod="post">
			</form>
	</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Airline name</th>
      <th scope="col">Flight number</th>
      <th scope="col">Departure time</th>
	  <th scope="col">Arrivel time</th>
	  <th scope="col">Price</th>
	  <th scope="col">Status</th>
	  <th scope="col">Departure</th>
	  <th scope="col">Arrival</th>
    </tr>
  </thead>
  <tbody>

      <th scope="row"></th>
	  {% for i in d %}
	  <tr>
	    <td> </td>
		<td>{{ i['airline_name']}}</td>
		<td>{{ i['flight_num']}}</td>
		<td>{{ i['departure_time']}}</td>
		<td>{{ i['arrival_time']}}</td>
		<td>{{ i['price']}}</td>
		<td>{{ i['status']}}</td>
		<td>{{ i['Departure']}}</td>
		<td>{{ i['Arrival']}}</td>
	  </tr>
	  {% endfor %}

  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
